<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Yokiyoki</string>
	<key>CFBundleDisplayName</key>
	<string>addtoscuttle</string>
	<key>CFBundleIdentifier</key>
	<string>com.yokiyoki.addtoscuttle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>addToScuttle.run()</string>
				<key>Identifier</key>
				<string>add-to-scuttle-toolbar-button</string>
				<key>Label</key>
				<string>Add to Scuttle</string>
				<key>Tool Tip</key>
				<string>Add current page to your scuttle</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Adds current page to your Scuttle</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
	<key>Website</key>
	<string>http://www.yokiyoki.com/blog</string>
</dict>
</plist>
